@import "catppuccin.css";

* {
	border: none;
	border-radius: 0px;
	font-family: 'JetBrainsMono Nerd Font';
	font-size: 10.5pt;
	font-style: normal;
	min-height: 0;
}

window#waybar {
	background: transparent;
	/* border: 2px solid @overlay2; */
	/* border-radius: 5px; */
	/* color: @text; */
}

#workspaces {
  background: @base;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 10px;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  border: 1px solid @mantle;
}

#workspaces button {
	border-radius: 0px;
	color: @text;
	/* transition: all 0.25s ease-in-out; */
}

#workspaces button.persistent {
	color: @text;
}

#workspaces button.empty {
    color: @surface2;
}

#workspaces button.active {
  color: @blue;
  text-shadow:
    0.25px 0.25px 0 @blue,
    -0.25px 0.25px 0 @blue,
    -0.25px -0.25px 0 @blue,
    0.25px -0.25px 0 @blue;
}

#workspaces button:hover {
	background-color: transparent;
	color: @blue;
}

#tray {
	padding: 5px 10px;
	margin: 10px 5px;
  background: @base;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  border: 1px solid @mantle;
}

#clock {
	color: @text;
  background: @base;
  border-radius: 5px;
	padding: 5px 14px;
	margin: 10px 10px 10px 0px;
	font-weight: bold;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  border: 1px solid @mantle;
}

#custom-launcher {
	color: @blue;
	background: @base;
  border-radius: 5px;
	font-family: 'Symbols Nerd Font';
	font-size: 20px;
	padding: 8px 11px 8px 11px;
  margin: 10px 0px 10px 10px;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  border: 1px solid @mantle;
}

#custom-playerctl {
	font-weight: bold;
  /* font-style: italic; */
  background: @base;
  color: @text;
  padding: 5px 14px;
  margin: 10px 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  border: 1px solid @mantle;
}

#cpu, #memory, #disk, #custom-gpu-usage {
	background-color: @base;
	border-radius: 16px;
	margin: 5px;
	padding: 0px 10px;
	font-weight: bold;
	border: solid 2px @mantle;
	box-shadow: 0px 0px 3px rgba(0,0,0,1);
	text-shadow: 0px 0px 3px @text;
  border: 1px solid @mantle;
}

#custom-hyprpicker, #custom-hyprshade, #bluetooth, #network, #pulseaudio, #backlight, #battery, #custom-notifications {
	color: @text;
	font-family: 'JetBrainsMono Nerd Font';
	font-size: 10pt;
	margin: 0;
	padding: 0 10px;
}

#bluetooth.connected {
	color: @green;
}

#bluetooth.off {
	color: @overlay2;
}

#pulseaudio.muted {
	color: @overlay2;
}

#battery.charging {
	color: @green;
}

#battery.warning:not(.charging) {
	color: @red;
}

#group-applets {
  background: @base;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 10px 10px 10px 5px;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  border: 1px solid @mantle;
}