* {
  font-family: 'Fira Sans';
  font-weight: 400;
  font-size: 16px;
  color: #e0def4;
  border-radius: 10px;
  background-color: rgba(30, 30, 46, 1);
}

window#waybar {
  background: none;
}

#workspaces,
#network,
#pulseaudio,
#clock,
#tray {
  padding: 0px 10px;
}

.modules-center * {
  margin: 0px 5px;
}

#workspaces button {
  padding: 0px 5px;
}

#window,
#custom-playerctl {
  font-weight: 800;
  font-style: italic;
  font-family: 'Maple Mono', 'CaskaydiaMono Nerd Font';
}

#network,
#pulseaudio,
#battery,
#clock {
  font-style: italic;
  font-family: 'Maple Mono', 'CaskaydiaMono Nerd Font';
}

#workspaces {
  padding: 5px 10px;
}

window#waybar.empty #window {
  background:none;
}