preload = ~/.current_wallpaper

{{ if eq .chezmoi.hostname "choncc-arch" }}
wallpaper = DP-2,~/.current_wallpaper
{{ else if eq .chezmoi.hostname "g14" }}
wallpaper = eDP-1,~/.current_wallpaper
{{ end }}