# https://wiki.hyprland.org/Configuring/

# Please note not all available settings / options are set here.
# For a full list, see the wiki

# You can split this configuration into multiple files
# Create your files separately and then link them to this file like this:
# source = ~/.config/hypr/myColors.conf

# At the top of the file, after the existing source example
source = ~/.config/hypr/keybinds.conf
source = ~/.config/hypr/autostart.conf
source = ~/.config/hypr/rules.conf
source = ~/.config/hypr/env.conf
source = ~/.config/hypr/themes/frappe.conf

$accent = $blue
$accentAlpha = $blueAlpha

################
### MONITORS ###
################

# See https://wiki.hyprland.org/Configuring/Monitors/
{{ if eq .chezmoi.hostname "choncc" }}
monitor=DP-2,2560x1440@165,auto,auto,vrr,2
{{ else if eq .chezmoi.hostname "g14" }}
monitor=eDP-1,1920x1080@120,auto,1.2
{{ end }}

#####################
### LOOK AND FEEL ###
#####################

# Refer to https://wiki.hyprland.org/Configuring/Variables/

# https://wiki.hyprland.org/Configuring/Variables/#general
general {
    gaps_in = 10
    gaps_out = 20

    border_size = 2

    # https://wiki.hyprland.org/Configuring/Variables/#variable-types for info about colors
    col.active_border = $accent
    col.inactive_border = $base

    # Set to true enable resizing windows by clicking and dragging on borders and gaps
    resize_on_border = false

    # Please see https://wiki.hyprland.org/Configuring/Tearing/ before you turn this on
    allow_tearing = false

    layout = dwindle
}
# https://wiki.hyprland.org/Configuring/Variables/#decoration
decoration {
    rounding = 10

    # Change transparency of focused and unfocused windows
    active_opacity = 1.0
    inactive_opacity = 1.0

    shadow {
        enabled = true
        range = 4
        render_power = 3
        color = rgba(1e1e2eee)
    }

    # https://wiki.hyprland.org/Configuring/Variables/#blur
    blur {
        enabled = true
        size = 8
        passes = 3
        new_optimizations = true
        ignore_opacity = false
        xray = true
        popups = true
        blurls = swaync-control-center
        blurls = swaync-notification-window
    }
}

# https://wiki.hyprland.org/Configuring/Variables/#animations
animations {
    enabled = true

    bezier = default, 0.05, 0.9, 0.1, 1.02
    bezier = wind, 0.05, 0.9, 0.1, 1.02
    bezier = overshot, 0.13, 0.99, 0.29, 1.02
    bezier = liner, 1, 1, 1, 1
    bezier = easeOutQuint, 0.23, 1, 0.32, 1.03

    # Slow Animations
    # animation = windows, 1, 7, wind, popin
    # animation = windowsIn, 1, 6, overshot, popin
    # animation = windowsOut, 1, 5, overshot, popin
    # animation = windowsMove, 1, 6, overshot, slide
    # animation = layers, 1, 4, default, popin
    # animation = fadeIn, 1, 10, default
    # animation = fadeOut, 1, 10, default
    # animation = fadeSwitch, 1, 10, default
    # animation = fadeShadow, 1, 10, default
    # animation = fadeDim, 1, 10, default
    # animation = fadeLayers, 1, 10, default
    # animation = workspaces, 1, 6, overshot, slide

    # Fast Animations
    animation = windows, 1, 3.5, easeOutQuint, popin
    animation = windowsIn, 1, 3.5, easeOutQuint, popin
    animation = windowsOut, 1, 3.5, overshot, popin
    animation = windowsMove, 1, 3.5, overshot, slide
    animation = layers, 1, 3, default
    animation = fadeIn, 1, 4, default
    animation = fadeOut, 1, 4, default
    animation = fadeSwitch, 1, 4, default
    animation = fadeShadow, 1, 4, default
    animation = fadeDim, 1, 4, default
    animation = fadeLayers, 1, 4, default
    animation = workspaces, 1, 3.25, easeOutQuint, slide
}

# See https://wiki.hyprland.org/Configuring/Dwindle-Layout/ for more
dwindle {
    pseudotile = yes # Master switch for pseudotiling. Enabling is bound to mainMod + P in the keybinds section below
    preserve_split = yes # You probably want this
    pseudotile = true # Enable pseudotiling on dwindle
    force_split = 0
    preserve_split = true
}

# See https://wiki.hyprland.org/Configuring/Master-Layout/ for more
master {
    new_status = master
}

# https://wiki.hyprland.org/Configuring/Variables/#misc
misc {
    vfr = true
    always_follow_on_dnd = true
    disable_hyprland_logo = true
    animate_manual_resizes = true
    animate_mouse_windowdragging = false
    enable_swallow = true
    font_family = JetBrainsMono Nerd Font
}


#############
### INPUT ###
#############

# https://wiki.hyprland.org/Configuring/Variables/#input
input {
{{ if eq .chezmoi.hostname "choncc" }}
    kb_layout = eu
    kb_variant =
    kb_model =
    kb_options =
    kb_rules =

    accel_profile = flat
{{ else if eq .chezmoi.hostname "g14" }}
    kb_layout = de
    kb_variant =
    kb_model =
    kb_options =
    kb_rules =

    accel_profile = adaptive
{{ end }}

    follow_mouse = 1
    mouse_refocus = false

    sensitivity = 0 # -1.0 - 1.0, 0 means no modification.

    touchpad {
    	scroll_factor = 0.2
    }
}

xwayland {
    force_zero_scaling = true
}

debug {
    full_cm_proto = true
}
