[Unit]
Description=Disable GPP0 wakeup trigger in /proc/acpi/wakeup

[Service]
Type=simple
ExecStart=/bin/sh -c "echo GPP0 > /proc/acpi/wakeup"

[Install]
WantedBy=multi-user.target