* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgb(30, 30, 46)
}

button {
    border-radius: 5;
    border-color: #11111b;
	text-decoration-color: #cdd6f4;
    color: #cdd6f4;
	background-color: #313244;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    margin: 10 10 10 10;
}

button:focus, button:active, button:hover {
	background-color: #89b4fa;
	outline-style: none;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}