* {
  background:       #303446CC;
  foreground:       #8CAAEFFF;
  accent:           #8CAAEF69;
  background-tb:    #51576DFF;
  border-tb:        #414559FF;
  selected:         linear-gradient(#8CAAEF69);
  button:           linear-gradient(#838BA7FF);
  button-selected:  linear-gradient(#8CAAEF69);
  active:           linear-gradient(to right, #81C8BEFF, #A6D189FF);
  urgent:           #E78284FF;
}
