* {
  background:       #1e1e2eCC;
  foreground:       #89b4faFF;
  accent:           #89b4fa69;
  background-tb:    #45475aFF;
  border-tb:        #313244FF;
  selected:         linear-gradient(to right, #363A4FFF, #89b4fa69);
  button:           linear-gradient(#9399b2FF);
  button-selected:  linear-gradient(#89b4fa69);
  active:           linear-gradient(to right, #94e2d5FF, #a6e3a1FF);
  urgent:           #f38ba8FF;
}
