* {
  background:       #EFF1F5CC;
  foreground:       #1E66F5FF;
  accent:           #1E66F569;
  background-tb:    #BCC0CCFF;
  border-tb:        #CCD0DAFF;
  selected:         linear-gradient(#1E66F569);
  button:           linear-gradient(#8C8FA1FF);
  button-selected:  linear-gradient(#1E66F569);
  active:           linear-gradient(to right, #179299FF, #40A02BFF);
  urgent:           #D20F39FF;
}
